<div class="flex justify-content-between align-items-center mb-4">
  <div class="text-2xl font-semibold">Receipts</div>
</div>

<form
  [formGroup]="FV.formGroup"
  novalidate
  (keydown.enter)="$event.preventDefault()"
>
  <div class="grid formgrid p-fluid">
    <div class="field mb-3 col-12 md:col-2">
      <!-- transactionDate -->
      <label for="transactionDate">Start Date</label>
      <p-calendar
        id="startDate"
        [showTime]="false"
        dateFormat="yy-mm-dd"
        appendTo="body"
        [readonlyInput]="true"
        formControlName="startDate"
        (onSelect)="onSelectStartDate()"
      ></p-calendar>
    </div>

    <div class="field mb-3 col-12 md:col-2">
      <!-- transactionDate -->
      <label for="transactionDate">End Date</label>
      <p-calendar
        id="endDate"
        [showTime]="false"
        dateFormat="yy-mm-dd"
        appendTo="body"
        [readonlyInput]="true"
        [minDate]="FV.formGroup.get('startDate').value"
        formControlName="endDate"
      ></p-calendar>
    </div>
    <div class="field mb-3 col-12 md:col-3">
      <!-- product -->
      <label for="product">Product</label>
      <p-dropdown
        [options]="productArr"
        id="product"
        formControlName="product"
        optionValue="_id"
        optionLabel="productName"
      ></p-dropdown>
    </div>
    <div class="field mb-3 col-12 md:col-2">
      <!-- searchType -->
      <label for="searchType">Search Type</label>
      <p-dropdown
        [options]="searchTypeArr"
        id="searchType"
        formControlName="searchType"
        optionValue="id"
        optionLabel="name"
      ></p-dropdown>
    </div>
    <div class="field mb-3 col-12 md:col-3">
      <!-- searchCode -->
      <label for="searchCode">Search Code</label>
      <div class="flex align-items-center gap-2">
        <input
          id="searchCode"
          type="text"
          pInputText
          formControlName="searchCode"
          maxlength="50"
        />

        <p-button
          icon="pi pi-search"
          styleClass="p-button-primary"
          pTooltip="Search"
          tooltipPosition="bottom"
          (onClick)="onSearch()"
        ></p-button>
        <p-button
          icon="pi pi-times"
          styleClass="p-button-secondary"
          pTooltip="Clear"
          tooltipPosition="bottom"
          (onClick)="onClear()"
        ></p-button>
      </div>
    </div>

    <div class="field mb-3 col-12">
      <p-table
        #dt
        styleClass=""
        [columns]="cols"
        [value]="recodes"
        responsiveLayout="stack"
        [breakpoint]="'960px'"
        dataKey="_id"
        [rows]="10"
        [responsive]="true"
        styleClass="p-datatable-gridlines"
        [rowsPerPageOptions]="[10, 25, 50]"
        [paginator]="true"
        [rowHover]="true"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['loanCode', 'customer', 'product']"
      >
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th
              *ngFor="let col of columns"
              [ngClass]="{
                'text-center': col.field == 'status',
                'text-right':
                  col.field == 'loanAmount' ||
                  col.field == 'loanBalance' ||
                  col.field == 'termInstallAmount' ||
                  col.field == 'paymentAmount' ||
                  col.field == 'installment',
                'w-12rem': col.field == 'paymentAmount'
              }"
            >
              {{ col.header }}
            </th>
            <th class="text-center">Action</th>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-rowData
          let-columns="columns"
          let-rowIndex="rowIndex"
        >
          <tr>
            <td
              *ngFor="let col of columns"
              [ngClass]="{
          'bg-blue': rowIndex % 2 !== 0,
          'text-right':
                  col.field == 'loanAmount' ||
                  col.field == 'termInstallAmount' || col.field == 'paymentAmount' || col.field == 'installment',
          'text-center': col.field == 'status',
        }"
            >
              <ng-container
                *ngIf="
                  col.field == 'loanAmount' ||
                  col.field == 'termInstallAmount' ||
                  col.field == 'installment'
                "
              >
                <span class="p-column-title font-bold">{{ col.header }}</span>
                {{ rowData[col.field] | currency : "" : "" }}
              </ng-container>

              <ng-container *ngIf="col.field == 'status'">
                <span class="p-column-title font-bold">{{ col.header }}</span>

                <p-tag
                  value="{{ rowData.statusName }}"
                  severity="success"
                  *ngIf="rowData.status == 2"
                  styleClass="p-2"
                />
              </ng-container>

              <ng-container *ngIf="col.field == 'paymentDate'">
                <span class="p-column-title font-bold">{{ col.header }}</span>
                {{ rowData[col.field] | date : "dd-MM-yyyy" }}
              </ng-container>

              <ng-container
                *ngIf="
                  col.field != 'status' &&
                  col.field != 'loanAmount' &&
                  col.field != 'termInstallAmount' &&
                  col.field != 'installment' &&
                  col.field != 'paymentDate'
                "
              >
                <span class="p-column-title font-bold">{{ col.header }}</span>
                {{ rowData[col.field] || "-" }}
              </ng-container>
            </td>
            <td
              class="text-center"
              [ngClass]="{
                'bg-blue': rowIndex % 2 !== 0,
              }"
            >
              <div
                class="flex flex-wrap justify-content-center align-content-center gap-2"
              >
                <p-button
                  icon="pi pi-print"
                  pTooltip="Print Receipt"
                  tooltipPosition="bottom"
                  class="p-button-print"
                  styleClass="p-button-info"
                  (onClick)="printReceipt(rowData)"
                ></p-button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length + 2">
              <div
                class="flex flex-column justify-content-center align-items-center gap-2"
                style="height: 300px; width: 100%"
              >
                <i class="pi pi-inbox text-5xl text-gray-400"></i>
                <small class="">No Loan Found</small>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</form>
