<div class="text-2xl font-semibold">Dashboard</div>

<!--      "pendingLoans": 0,
        "activeLoans": 6,
        "todayCollection": 0,
        "totalArrears": 243666.6666666666 -->

<div class="grid mt-3 overflow-y-scroll">
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="surface-card shadow-2 p-3 border-1 border-50 border-round">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-xl font-semibold mb-3">PENDING LOANS</span>
          <div class="text-900 font-semibold text-xl">
            {{ dashBoardStatistic?.pendingLoans || 0 }}
          </div>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-blue-100 border-round"
          style="width: 2.5rem; height: 2.5rem"
        >
          <i class="pi pi-hourglass text-blue-500 text-xl"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="surface-card shadow-2 p-3 border-1 border-50 border-round">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-xl font-semibold mb-3">ACTIVE LOANS</span>
          <div class="text-900 font-semibold text-xl">
            {{ dashBoardStatistic?.activeLoans || 0 }}
          </div>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-green-100 border-round"
          style="width: 2.5rem; height: 2.5rem"
        >
          <i class="pi pi-check-circle text-green-500 text-xl"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="surface-card shadow-2 p-3 border-1 border-50 border-round">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-xl font-semibold mb-3">TODAY COLLECTION</span>
          <div class="text-900 font-semibold text-xl">
            LKR
            {{ dashBoardStatistic?.todayCollection || 0 | number : "1.2-2" }}
          </div>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-cyan-100 border-round"
          style="width: 2.5rem; height: 2.5rem"
        >
          <i class="pi pi-wallet text-cyan-500 text-xl"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="surface-card shadow-2 p-3 border-1 border-50 border-round">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-xl font-semibold mb-3">TOTAL ARREARS</span>
          <div class="text-900 font-semibold text-xl">
            LKR {{ dashBoardStatistic?.totalArrears || 0 | number : "1.2-2" }}
          </div>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-red-100 border-round"
          style="width: 2.5rem; height: 2.5rem"
        >
          <i class="pi pi-money-bill text-red-500 text-xl"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="surface-card shadow-2 p-3 border-1 border-50 border-round">
      <span class="block text-xl font-semibold mb-3"
        >MONTHLY COLLECTION ANALYSIS</span
      >

      <p-chart
        type="line"
        [data]="monthlyCollectionData"
        [options]="monthlyCollectionOptions"
        styleClass="h-2rem"
      />
    </div>
  </div>
  <div class="col-12 md:col-6"></div>
</div>
