<div class="receipt-container" id="demo">
  <div class="flex justify-content-between mb-4 align-items-center">
    <img src="assets/icons/svg/logo.svg" alt="logo" height="60" />
    <div class="flex-column justify-content-end align-items-center">
      <div class="company-name uppercase">{{ companyInfo?.name }}</div>
      <div class="company-address">{{ companyInfo?.address }}</div>
      <div class="company-address">Tel: {{ companyInfo?.phoneNumber }}</div>
    </div>
  </div>

  <div class="receipt-title">
    RECEIPT DETAILS {{ printData?.receiptDate | date : "yyyy-MM-dd" }}
  </div>

  <div class="details-grid">
    <div class="label">Receipt No</div>
    <div class="receipt-data">{{ printData?.receiptNo }}</div>

    <div class="label">Date</div>
    <div class="receipt-data">
      {{ printData?.receiptDate | date : "yyyy-MM-dd" }}
    </div>

    <div class="label">Ref No</div>
    <div class="receipt-data">{{ printData?.reference || "-" }}</div>

    <div class="label">Cus Code</div>
    <div class="receipt-data">{{ printData?.cusCode }}</div>

    <div class="label">Cus Name</div>
    <div class="receipt-data">{{ printData?.cusName }}</div>

    <div class="label">Loan No</div>
    <div class="receipt-data">{{ printData?.loanNo }}</div>

    <div class="label">Description</div>
    <div class="receipt-data">{{ printData?.description || "-" }}</div>

    <div class="label">Print Detail</div>
    <div class="receipt-data">{{ printData?.printedUser }}</div>
  </div>

  <div class="payment-section">
    <div class="payment-title">PAYMENT DETAILS</div>

    <div class="payment-grid">
      <div class="label">Outstanding Amount</div>
      <div class="amount">
        Rs {{ printData?.outStandingAmount | currency : "" : "" }}
      </div>

      <div class="label">Paid Amount</div>
      <div class="amount paid-amount">
        Rs {{ printData?.paidAmount | currency : "" : "" }}
      </div>

      <div class="label">Balance Amount</div>
      <div class="amount">
        Rs {{ printData?.balanceAmount | currency : "" : "" }}
      </div>
    </div>
  </div>
</div>

<ng-template #templateRef>
  <div class="flex justify-content-end align-items-center gap-2">
    <button
      id="print"
      class="p-button-sm p-button p-component p-ripple"
      printSectionId="demo"
      [useExistingCss]="true"
      ngxPrint
    >
      <i class="pi pi-print mr-2" style="font-size: 1rem"></i> Print
    </button>
  </div>
</ng-template>
