<form [formGroup]="FV.formGroup" autocomplete="off">
  <!-- <div class="card"> -->
  <div class="grid mt-3 p-4">
    <div class="col-12">
      <div class="p-fluid grid formgrid align-items-end">
        <div class="field col-12 mt-3 mb-3">
          <span class="text-base text-black-alpha-90 font-semibold"
            >BANK DETAILS</span
          >
        </div>

        <div class="field col-12 md:col-4">
          <label for="bankName">Bank Name</label>

          <p-dropdown
            id="bankName"
            [options]="bankArr"
            optionLabel="name"
            formControlName="bankName"
            appendTo="body"
            [autoOptionFocus]="false"
            [filter]="true"
            [showClear]="true"
            [resetFilterOnHide]="true"
            (onChange)="onBankChange($event)"
            (onClear)="onBankClear()"
          ></p-dropdown>
        </div>
        <div class="field col-12 md:col-4">
          <label
            for="branchName"
            [ngClass]="{
              required: isBankSelected
            }"
            >Branch Name</label
          >
          <input
            id="branchName"
            pInputText
            type="text"
            class="w-full"
            formControlName="branchName"
            maxlength="40"
            appUppercase
          />
        </div>
        <div class="field col-12 md:col-4">
          <label
            for="accNumber"
            [ngClass]="{
              required: isBankSelected
            }"
            >Account Number</label
          >
          <input
            id="accNumber"
            pInputText
            type="text"
            class="w-full"
            formControlName="accNumber"
            oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 20)"
          />
        </div>
        <div class="field col-12 md:col-4">
          <label
            for="accHolderName"
            [ngClass]="{
              required: isBankSelected
            }"
            >Account Holder Name</label
          >
          <input
            id="accHolderName"
            pInputText
            type="text"
            class="w-full"
            formControlName="accHolderName"
            maxlength="60"
            appUppercase
          />
        </div>

        <div
          class="field mb-3 col-12 md:col-12"
          *ngIf="(isView && BankBookImageUrl) || isEdit || !isView"
        >
          <label for="postalCode" class="font-medium text-900">Bank Book</label>
          <div class="flex gap-4">
            <div
              class="surface-border border-2 border-round surface-card w-9rem h-9rem flex flex-column upload-btn-wrapper text-gray-400"
              [ngClass]="
                BankBookImageUrl
                  ? 'border-2'
                  : 'border-dashed justify-content-center align-items-center'
              "
            >
              <i class="pi pi-image text-2xl" *ngIf="!BankBookImageUrl"></i>

              <p-image
                [src]="BankBookImageUrl"
                alt="Image"
                [preview]="true"
                *ngIf="BankBookImageUrl"
              />
            </div>

            <div
              class="flex flex-column gap-2 align-items-center justify-content-center"
              *ngIf="!isView"
            >
              <button
                pButton
                [disabled]="!BankBookImageUrl"
                type="button"
                label="Remove Image"
                icon="pi pi-times"
                class="p-button-danger p-button-outlined"
                (click)="removeImage(WellKnownUploadType.BankBook)"
              ></button>
              <button
                pButton
                type="button"
                label="Upload Image"
                icon="pi pi-camera"
                class="p-button-primary p-button-outlined"
                (click)="openUploadDialog(WellKnownUploadType.BankBook)"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
